---
---

@import "{{ site.theme }}";

header {
  .view {
    display: none;
  }
}

footer {
  display: none;
}

h2 {
  border-bottom: 1px solid #ececec;
  line-height: 1.5;
}

#contacts + ul {
  img {
    vertical-align: top;
    position: relative;
    left: -24px;
    background-color: white;
    margin-right: -24px;
  }
}
